.App{
  font-family: sans-serif;
  text-align: center;
}

nav{
  display: flex;
}

nav >a{
  padding: 10px;
  text-decoration: none;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 800px;
  text-align: left;
}

.form > label {
  font-size: 16px;
  padding: 5px;
}

.form > input{
  height: 20px;
  font-size: 10px;
  margin-bottom: 10px;
}

.form > button {
  cursor: pointer;
  padding: 10px;
  color: white;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: blueviolet;
}

.error-message {
  color: red;
  padding: 10px;
}
.success-message {
  color: green;
  padding: 10px;
}

.link-btn {
  border: none;
  background-color: white;
  cursor: pointer;
  text-decoration: underline;
}